version: "3.9"
services:
  api:
    build:
      context: ./
      dockerfile: ./Dockerfile
    environment:
      SPRING_PROFILES_ACTIVE: PRODUCTION
      SERVER_PORT: 8080
    ports:
      - "8080:8080"

  mongo:
    image: mongo
    restart: always
    ports:
      - "27017:27017"